<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMS"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".Deposit"
            android:exported="false" />
        <activity
            android:name=".ChangePin"
            android:exported="false" />
        <activity
            android:name=".RepayLoan"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeeAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BranchAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeePanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RequestLoan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoneyTransfer"
            android:screenOrientation="portrait" />

        <activity android:name=".Withdraw"
            android:screenOrientation="portrait"/>
    </application>

</manifest>